<div class="centered">
    <div  class="parag">
        <h1>Our profile</h1>
        <p>Capcom began in Japan in 1979 as a manufacturer and distributor of electronic game machines. In 1983 Capcom Co., Ltd. was founded and soon built a reputation for introducing cutting-edge technology and highly memorable franchises to the video game market. Now an industry leader in the video game industry, Capcom's legacy of historic franchises in home and arcade gaming are testaments to an unparalleled commitment to excellence.</p>
        <p>Building on its origins as a game machine manufacturer, Capcom is now involved in all areas of the video game industry. Capcom maintains operations in the U.S., U.K., Germany, France, Hong Kong, Taiwan and Tokyo, with corporate headquarters located in Osaka, Japan.</p>
        <p>Ground breaking franchises like Resident Evil™ , Street Fighter™ , Devil May Cry™, Monster Hunter™, Ace Attorney™ and the Mega Man™ series set the standard in creative innovation, character development and unsurpassed gameplay. Guided by the idea of fostering a culture of entertainment, Capcom has consistently acted on this view by creating innovative and hugely popular games that push technical and creative limits.</p>
    </div>
</div>