<div class="card" style="width: 23rem;">
    <img src={{character.imgUrl}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{character.name}}</h5>
      <p class="card-text">{{character.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Height: {{character.height}} cm</li>
      <li class="list-group-item">Weight: {{character.weight}} kg</li>
      <li class="list-group-item">Blood type: {{character.typeCharacter}}</li>
    </ul>
  </div>