.card {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    margin: 20px;
    transition: transform 0.3s ease;
    background: radial-gradient(circle, rgba(0,212,255,1) 5%, rgba(9,121,89,1) 95%);
}

ul{
    border: 1px solid black;
    border-radius: 4px;
}

.card:hover {
    transform: rotateZ(-2deg) rotateX(10deg) rotateY(15deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  